/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-jun-2018, 18:06:09
    Author     : Javi
*/

body {
    background-color: #ffffbf;
    font-family: arial;
}

.menu {
    width: 60em;
    margin: 0 auto;
    text-align: center;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
.menu a {
    display: block;
    padding: 10pt;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}

.menu li {
    width: 15em;
}

.menu a:hover {
    background-color: #CC673B;
}
.menu ul li ul {
    display: none;
}
.menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
    position: fixed;
}


section {
    height: 24em;
    width: 1000pt;
    display: table;
}

.portada {
    display: table-cell;
    vertical-align: middle;
    font-size: 64pt;
    text-align: center;
}

form {
    width: 500pt;
    margin: 40pt auto;
}
.busqueda{
    width: 500pt;
    margin: 40pt auto;
}

#resultado {
    visibility: hidden;
}

#mensajeEliminar, #mensajeModificar {
    visibility: hidden;
    border: 5px solid red;
    z-index: 1;
    width: 150pt;
    margin: -150pt auto;
    text-align: center;
    background-color: grey;
}

#inicio {
    text-align: right;
}

footer{
    clear: both;
}

