/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-jun-2018, 18:06:09
    Author     : Javi
*/

.logo {
    float: left;
    height: 40px;
}

.titulo {
    width: 900px;
    margin: 0 auto;
    font: 20px arial;
    text-align: center;
    float: left;
}
.categoria {
    
    float: right;
}
hr{
    position: relative;
    clear: both;
}
body {
    background-color: #ffffbf;
    font-family: arial;
}

.menu {
    width: 60em;
    margin: 0 auto;
    text-align: center;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
.menu a {
    display: block;
    padding: 10pt;
    background-color: #F9B53C;
    text-decoration: none;
    color: #191C26;
}

.menu li {
    width: 15em;
}

.menu a:hover {
    background-color: #CC673B;
}
.menu ul li ul {
    display: none;
}
.menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
    position: fixed;
    z-index: 60;
}


section {
    height: 24em;
    width: 1000pt;
    display: table;
}

.portada {
    display: table-cell;
    vertical-align: middle;
    font-size: 64pt;
    text-align: center;
}

fieldset {
    width: 500pt;
    margin: 40pt auto;
}
.busqueda{
    width: 500pt;
    margin: 40pt auto;
}

#resultado, #personal {
    display: none;
}

#inicio {
    text-align: right;
}

footer{
    clear: both;
}

#listado {
    width: 800pt;
    margin: 40pt auto;
}

#lista {
    width: 700pt;
    margin: 0 auto;
    text-align: center;
    border: black solid 2pt;
}

td, th {
    padding: 5pt;
}

#botones {
    width: 135px;
}
#botones > button {
    width: 135px;
    margin: 5px;
    overflow: hidden;
}

#grafica {
    width: 500px;
    height: 300px;
    margin: -100px auto;
    
}

#cartilla table {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}